$--linkBlue:#409EFF;
$--darkColor: #F29a58;
$--footTextColor: #fff;
$--darkFontColor: #333;
$--basicColor: #f7c892;
$--scoreListColor: #faddac;
$--scoreListBgColor: #fbf3d9;
$--scoreListActiveColor: #fadcb6;
$--activeColor: rgb(242, 103, 98);
$--bannerImg: url("./banner.jpg");
$--shallowFontColor: #999;
$--middleFontColor: #666;
$--basicFontSize: 16px;
$--FontSizeXXXL: 32px;
$--FontSizeXXL: 28px;
$--FontSizeXL: 24px;
$--FontSizeL: 20px;
$--FontSizeM: 14px;
$--FontSizeXM: 12px;
$--FontSizeXXM: 10px;
$--FontSizeXXXM: 8px;
.main-context{
  overflow: hidden;
  margin-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1240px){
  .main-context {
    min-width: 1024px;
    margin: 0 25px;
  }
}

