$--basicColor: #f7c892;
$--darkColor: #F29a58;
$--activeColor: rgb(242, 103, 98);
$--scoreListBgColor: #fbf3d9;
$--scoreListColor: #faddac;
$--darkFontColor: #333;
$--shallowFontColor: #999;
$--basicFontSize: 16px;
$--FontSizeXXXL: 32px;
$--FontSizeXXL: 28px;
$--FontSizeXL: 24px;
$--FontSizeL: 20px;
$--FontSizeM: 14px;
$--FontSizeXM: 12px;
$--FontSizeXXM: 10px;
$--FontSizeXXXM: 8px;
$--bannerImg: url("./banner.jpg");