@mixin text-overflow($num:1) {
    text-overflow: ellipsis;
    overflow: hidden;
    @if($num>1) {
        display: -webkit-box;
        -webkit-line-clamp: $num;
        -webkit-box-orient: vertical;
    }
    @else {
        white-space: nowrap;
    }
}
